.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* button -> up underline affect for main headers - not working proper though with scroll positioning - will fix later*/
.middle-out {
  cursor: pointer;
  position: relative;
}

.middle-out::after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.middle-out.middle-out-active::after { 
  width: 100%; 
  left: 0; 
}




/* adding header that sticks to the top of the page */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.content {
  margin-top: 50px;
}

/* removing side scroll bar */
body::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar width */
  background: transparent; /* Make scrollbar transparent */
}