/* adding header that sticks to the top of the page */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
}

.content {
  margin-top: 50px;
}

/* removing side scroll bar */
body::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar width */
  background: transparent; /* Make scrollbar transparent */
}


/* Icon styling */

/* Fade in when hovering */
.icon:hover {
  transition: opacity 0.3s ease; /* Smooth transition */
  opacity: 0.5; /* Dim opacity when hovering */
}

/* Fade out when not hovering */
.icon:not(:hover) {
  transition: opacity 0.3s ease; /* Smooth transition */
  opacity: 1; /* Return to full opacity when not hovering */
  
}

.icon:focus {
  outline: none;
}

/* Removing ripple effect */
.icon.MuiButton-root:hover {
  background-color: transparent;
}

